<ion-view title="资讯" id="page5" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div id="page5-button-bar1" class=" button-bar ">
            <button id="page5-button1" style="border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">推荐</button>
            <button id="page5-button10" style="border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">饮食</button>
            <button id="page5-button11" style="border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">心理</button>
            <button id="page5-button12" style="border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">妇婴</button>
        </div>
        <ion-list id="page5-list1" class=" ">
            <ion-item class="item-thumbnail-left  ">
                <img src="img/demo_fuying.jpg">
                <h2>天热减肥不想动 饮食帮你瘦身</h2>
                <p>社交频繁的今天水电费克里斯多夫阿卡丽水电费克里斯多夫可拉伸的李开复卡洛斯的反馈了爱上的李开复克里斯丁客服解释道啊</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  ">
                <img src="img/demo_fuying.jpg">
                <h2>天热减肥不想动 饮食帮你瘦身</h2>
                <p>社交频繁的今天</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>