<ion-view title="资讯详情" class=" ">
    <ion-content padding="true" class="has-header">
    	<div class="item">
    		<h1>天热减肥不想动 饮食帮你瘦身</h1>
    	</div>
    	<div class="item">
    		<img src="img/广告.png">
    	</div>
    	<div class="item">
    		<p>
    			天气越来越热了，在这个时候运动减肥就会有出汗等等令人不舒服的症状，可是减肥又是一件持之以恒的事情，这可怎么办呢？别着急，今天，为大家介绍几种具有减肥作用的食物，快来一起看看吧。
天热减肥吃什么
咖啡：咖啡可以提神，很多人都喜欢在清晨享用。咖啡中的咖啡因能让人兴奋，保持活力。咖啡因能提高心率，血液中会有更多氧气，进而燃烧更多卡路里。但切记，不要选择奶油及糖过多的咖啡。
黄瓜：黄瓜含有维生素C、维生素B族及许多微量矿物质，它所含的营养成分丰富，生吃口感清脆爽口。从营养学角度出发，黄瓜皮所含营养素丰富，应当保留生吃。但为了预防农药残留对人体的伤害，黄瓜应先在盐水中泡15-20分钟再洗净生食。用盐水泡黄瓜时切勿掐头去根，要保持黄瓜的完整，以免营养素在泡的过程中从切面流失。另外，凉拌菜应现做现吃，不要做好后时间放置，这样也会促使维生素损失。
葡萄柚：葡萄柚可以加速新陈代谢，帮助燃烧更多卡路里。这种水果可延长消化时间，增加饱腹感。葡萄柚富含纤维，有助于稳定血糖水平。美国的一项研究发现，食用葡萄柚有其独特的减肥疗效。
西红柿：西红柿中维生素A较丰富，维生素A对视力保护及皮肤晒后修复有好处。凉拌西红柿不撒糖更好，否则甜味可能影响食欲。肥胖者、糖尿病人、高血压病人都不宜吃被称为“雪漫火焰山”的加糖凉拌西红柿。
鳄梨：鳄梨含有单元不饱和脂肪酸，能够加速新陈代谢，保护细胞免遭自由基损坏。而且，鳄梨对人体健康非常有益。能够降低胆固醇水平，治疗伤口，减少心脏病及中风风险，对头发及眼睛十分有利。早饭可以吃半个鳄梨，再搭配西红柿都很不错。
芹菜：芹菜含有少量卡路里，当我们享受芹菜的美味时，体内就在燃烧卡路里，且燃烧的卡路里要远大于芹菜所提供的卡路里。此外，芹菜能刺激胃肠蠕动。芹菜中富含水分及纤维，是均衡饮食的极佳选择。但若身体未摄入足够的矿物质或营养物，选择芹菜就需慎重，最好能与其他食物搭配食用。
大白菜：大白菜中膳食纤维和维生素A含量高，阳光刺眼的夏天多吃新鲜的大白菜，对护眼、养颜有助。不过，不要吃储存太久、营养素损失过多的大白菜。另外，消化性溃疡者也不宜生食大白菜，以免粗纤维的剐蹭刺激胃肠道创面。
绿茶：绿茶能够很好地提升新陈代谢，去除油脂油腻。这种热饮很普通，但却有益于健康。绿茶富含抗氧化剂，能加速新陈代谢，有助减肥，是女士的不错选择。所以，不管工作或闲暇之余，都可以泡上一杯绿茶，静静地享受它的清香。
除了以上的食物，还有减肥食谱推荐给大家，继续来了解了解吧。
天热减肥的营养食谱
海带萝卜汤
材料：山楂10克，海带100克，桂花10克，姜五片，萝卜一个约300克。
做法：萝卜削皮切小块，以大火煮沸1500毫升水；然后放萝卜、海带、姜片，待水再度滚时转小火，直到萝卜、海带煮熟烂；最后加入用纱布包着的其他药材，煮15分钟即可。
瘦身功效：凡贪食肉类、面类及糕点过多而不消化者，可吃萝卜消积滞、清理肠胃。海带性寒味咸，常食使人消瘦，清除血脂。
鸡蛋炒苜蓿
材料：苜蓿15O克，鸡蛋2个。葱花、精盐、味精、植物油各适量。
做法：将苜蓿择洗干净，切段；鸡蛋磕入碗内，加精盐搅打均匀。锅置火上，注入植物油烧热，下葱花煸香，倒入鸡蛋液煸炒并用铲子划成小块，再加入苜蓿、精盐炒至入味，放入味精即成。
瘦身功效：鸡蛋炒苜蓿，由苜蓿与鸡蛋配制而成，可为人体提供丰富的营养，还具有滋阴润燥、健脾利水、轻身健体的作用。
竹笋银耳汤
材料：竹笋300克，银耳20克，鸡蛋、精盐适量。
做法：将竹笋洗净，银耳用水泡发去蒂，鸡蛋打入碗中搅成糊；锅中放水1000毫升煮沸，倒入鸡蛋糊，加入竹笋、银耳，用小火烧五分钟，加盐调味即可。
瘦身功效：竹笋去湿利水，是消除腹壁脂肪的最佳食物，而银耳能润养色。
赤豆鲤鱼
材料：鲤鱼1尾（1000克），赤小豆100克，陈皮、花椒、草果各7.5克。
做法：将鲤鱼去鳞、鳃，抠去内脏，洗净；将赤小豆、陈皮、花椒、草果洗净，塞入鱼腹，再将鱼放入砂锅，加葱、姜、胡椒、食盐，灌入鸡汤；上笼蒸1.5小时左右，鱼熟后即可出笼，再洒上葱花即成。
瘦身功效：鲤鱼是健脾利水、减肥的上品，有益气健脾、化湿消脂之功效。赤小豆是中药里利水之物。
金银豆腐
材料：豆腐150克，油豆腐100克。草菇（罐头装）、葱、汤料（粉状）、酱油、砂糖、葱油各适量，淀粉少许调成浆状。
做法：豆腐与油豆腐均切成2厘米见方的小块。锅中加水，待沸后加入汤料、豆腐、草菇、酱油、砂糖等，煮10分钟左右，加淀粉浆勾芡盛入碗中，周围倒入葱油，表面撒上葱段。
瘦身功效：豆腐是高营养、高矿物质、低脂肪的减肥食品，丰富的蛋白质有利于增强体质和增加饱腹感，有利于持久减肥。
蟹肉烧冬瓜
材料：干蟹肉45克，净冬瓜200克，精盐、白糖、黄糖、姜、葱、湿芡粉各适量。
做法：将蟹肉放入碗内，加少许汤，放上葱、姜片，上蒸笼蒸20分钟；冬瓜切3分厚的片，用沸水烫一下，捞出备用；起油锅，煸出香味后，加入蒸好的蟹肉，倒上蒸蟹时碗里的汤，加精盐、白糖、黄酒调好味；冬瓜入锅，煮4~5分钟，勾芡即可。
瘦身功效：冬瓜热量低，能去除脂肪和水分，是最佳的消脂瓜类。与蟹肉同用，具有减肥健美之效，适于肾脏病、心脏病、糖尿病和肥胖症等患者食用。

想要在天热的时候减肥，就别错过了以上食物哦。
    		</p>
    	</div>
    </ion-content>
</ion-view>