<ion-view title="个人中心">
    <ion-content padding="false" class="has-header">

	<div style="background: url(img/userbackground.jpg) center;">
		<div class="row center" >
	    	<div class="col center">
	    		<img src="img/user_head.png" style="width: 20%;">
	    	</div>	
	    </div>
	    
	    <div class="row center color-white">
	    	<div class="col col-center">
	    		{{user.name}}
                <a ui-sref="login" ng-if="!isLogin" class="color-white">点击登录</a>
	    	</div>
	    </div>
	</div>

	<div class="row row-center border-bottom border-weight">
		<a class="col center border-right" ui-sref="app.messagelist">未读消息 <span style="color: red;">{{unreadMessageCount}}</span></a>
		<a class="col center" ui-sref="app.patientList">
            我的就诊人 
            <b>{{myPatientCount}}</b>
        </a>
	</div>
    
	<a class="row row-center border-bottom">
        <div class="col col-10">
            <img src="img/user_02.png" style="width: 100%">
        </div>
        <div class="col col-80">
            健康档案
        </div>
        <div class="col col-10">
            <img src="img/arrow_right_disable.png" style="height: 50%">
        </div>
    </a>
    <a class="row row-center border-bottom">
        <div class="col col-10">
            <img src="img/user_01.png" style="width: 100%">
        </div>
        <div class="col col-80">
            我的预约
        </div>
        <div class="col col-10">
            <img src="img/arrow_right_disable.png" style="height: 50%">
        </div>
    </a>
    <a class="row row-center border-bottom">
        <div class="col col-10">
            <img src="img/user_03.png" style="width: 100%">
        </div>
        <div class="col col-80">
            我的就医卡
        </div>
        <div class="col col-10">
            <img src="img/arrow_right_disable.png" style="height: 50%">
        </div>
    </a>

    <a class="row row-center border-top border-bottom" ui-sref="app.introduction">
        <div class="col col-90">
            功能介绍
        </div>
        <div class="col col-10">
            <img src="img/arrow_right_disable.png" style="height: 50%">
        </div>
    </a>
    <a class="row row-center border-bottom" ui-sref="app.opinion">
        <div class="col col-90">
            意见反馈
        </div>
        <div class="col col-10">
            <img src="img/arrow_right_disable.png" style="height: 50%">
        </div>
    </a>
    <a class="row row-center border-bottom" ui-sref="app.aboutUs">
        <div class="col col-90">
            关于我们
        </div>
        <div class="col col-10">
            <img src="img/arrow_right_disable.png" style="height: 50%">
        </div>
    </a>

    </ion-content>
</ion-view>