<ion-view title="医院主站">
    <ion-content padding="false" class="has-header">

        <div class="row">
            <div class="col-80">
                <h4><b>{{hos.hosOrgName}}</b></h4>
            </div>
            <div class="col-20">
                切换&gt;
            </div>
            <br/>
        </div>
        <div class="row border-bottom border-weight"">
            {{hos.hosLevel}} {{hos.hosType}}
            <br/>
            地址：{{hos.hosAddr}}
        </div>
        <div class="row border-bottom">医院信息</div>
        <div class="row">
        	<div class="col">
        		<img src="img/ho2.png" width=30%>
                <span>特色科室</span>
        	</div>
        	<div class="col">
        		<img src="img/ho1.png" width=30%>
                专家介绍
        	</div>
        	<div class="col">
        		<img src="img/ho3.png" width=30%>
                医院导航
        	</div>
        </div>

        <div class="row border-top border-weight">医院服务</div>
        <div class="item item-avatar">
        	<img src="img/yiyuan_06.png">
        	<span><b>预约挂号</b></span>
            <br/>
        	<span>提前预约本医院就诊，无需排队</span>
        </div>
        <div class="item item-avatar">
        	<img src="img/yiyuan_09.png">
        	<span>叫号跟踪</span>
            <br/>
        	<span>跟踪就诊科室叫号情况</span>
        </div>
        <div class="item item-avatar">
        	<img src="img/yiyuan_07.png">
        	<span>就医导航</span>
            <br/>
        	<span>院内导航</span>
        </div>
        <div class="item item-avatar">
        	<img src="img/yiyuan_02.png">
        	<sspanan>价格查询</span>
            <br/>
        	<span>提前预约本医院就诊，无需排队</span>
        </div>
        <div class="item item-avatar">
        	<img src="img/yiyuan_08.png">
        	<span>门诊处方查询</span>
            <br/>
        	<span>提前预约本医院就诊，无需排队</span>
        </div>
        <div class="item item-avatar">
        	<img src="img/yiyuan_05.png">
        	<span>检查检验报告</span>
            <br/>
        	<span>提前预约本医院就诊，无需排队</span>
        </div>
        <div class="item item-avatar">
        	<img src="img/yiyuan_13.png">
        	<span>门诊费用查询</span>
            <br/>
        	<span>提前预约本医院就诊，无需排队</span>
        </div>

        <div class="row"></div>

    </ion-content>
</ion-view>